.alive {
    background-image: url(images/duck.jpg);
    background-size: cover;
}

.rip {
    background-image: url(images/ripUtka.jpeg);
    background-size: cover;
}

.rightpic {
    float: right;
}

.editor{	
    transition: 2s transform;
    font:fantasy;
    position: fixed; 
    bottom: 50px;
    margin-left: 50px;
    width: 100px;
    color:yellow;
    background-color:cadetblue;
    border: 2px solid yellow;
    border-radius: 100px;
    font-weight:bold;
    opacity: 0.7;
}

#VB{
    left: 2%;
}

#DT{
    right: 2%;
}

.editor:hover {
    transform: rotate(360deg);
    background-color: red;
}

.form{
    background-color: rgba(25, 107, 148, 0.5);
    border: 2px solid yellow;
    border-radius: 10px;
}

#subm {
    color:yellow;
}